includeConfig '/home/izslt/nextflow/test_nextflow/params.config'
includeConfig '/home/izslt/nextflow/test_nextflow/visual.config'


process {

            withName: FASTQC{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/quality.txt"
		maxForks = 10
		memory = '6 GB'
            }
            withName: FASTP{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/trimming_file.txt"
	    }
            withName: FASTQC2{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/quality.txt"
                maxForks = 7
		memory = '10 GB'
            }
	    withName: MULTIQC{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/quality.txt"
            }
            withName: ASSEMBLY{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/assembly.txt"
		maxForks = 4
            }
            withName: QUAST{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/quality.txt"
            }
            withName: MLST{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/annotation.txt"
            }
            withName: RESFINDER{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/annotation.txt"
            }
            withName: AMRFINDER{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/resfinder_AMRfinder_file.txt"
            }
            withName: PLASMIDFINDER{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/annotation.txt"
	    }
            withName: VIRULENCEFINDER{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/annotation.txt"
            }
	    withName: POINTFINDER{
                conda = "/home/izslt/nextflow/test_nextflow/conda_envs/resfinder_AMRfinder_file.txt"
            }
        }


