conda.enabled = 'true'
params.reads = "/home/izslt/test_hybrid/input_ILLUMINA/input_08_08/*{_,R}{1,2}*.*fastq.gz"                                    
params.outdir = "/home/izslt/nextflow/test_nextflow/data/annotation/"
params.temporary_quast_dir = "/home/izslt/nextflow/test_nextflow/quast_temporary/"
params.temporary_fasta_dir = "/home/izslt/nextflow/test_nextflow/fasta_temporary/"
params.species_list = "/home/izslt/nextflow/test_nextflow/species_list.txt"
params.species_list_entero = "/home/izslt/nextflow/test_nextflow/species_entero.txt"	
params.codes_file = "/home/izslt/nextflow/test_nextflow/elenco_codici_campioni.txt"
params.point_results_dir = "/home/izslt/nextflow/test_nextflow/fasta_temporary/points_temporary/"
params.threads = 0
params.update_db = "no"
params.amrfinder_results_dir = "/home/izslt/nextflow/test_nextflow/AMRfinder_temporary/"
