report {
	enabled = 'true'
	file = "/home/izslt/nextflow/test_nextflow/pipeline_metrics.html"
	overwrite = 'true'
}


timeline {
	enabled = 'true'
        file = "/home/izslt/nextflow/test_nextflow/pipeline_timeline.html"
	overwrite = 'true'
}


trace {
	enabled = 'true'
        file = "/home/izslt/nextflow/test_nextflow/pipeline_trace.txt"
        fields = 'task_id,name,status,exit,realtime,%cpu,rss'
	overwrite = 'true'
}


dag {
	enabled = 'true'
	direction = 'LR'
	file = "/home/izslt/nextflow/test_nextflow/pipeline_diagram.html"
	overwrite = 'true'
}

