includeConfig "${TEST}/configs/params.config"
includeConfig "${TEST}/configs/visual.config"

process {

            withName: FASTQC{
                conda = "${TEST}/conda/quality.txt"
		maxForks = 10
		memory = '6 GB'
            }
            withName: FASTP{
                conda = "${TEST}/conda/trimming_file.txt"
	    }
            withName: FASTQC2{
                conda = "${TEST}/conda/quality.txt"
                maxForks = 7
		memory = '10 GB'
            }
	    withName: MULTIQC{
                conda = "${TEST}/conda/quality.txt"
            }
            withName: ASSEMBLY{
                conda = "${TEST}/conda/assembly.txt"
		maxForks = 2
            }
            withName: QUAST{
                conda = "${TEST}/conda/quality.txt"
            }
            withName: MLST{
                conda = "${TEST}/conda/annotation.txt"
            }
            withName: RESFINDER{
                conda = "${TEST}/conda/annotation.txt"
            }
            withName: AMRFINDER{
                conda = "${TEST}/conda/resfinder_AMRfinder_file.txt"
            }
            withName: PLASMIDFINDER{
                conda = "${TEST}/conda/annotation.txt"
	    }
            withName: VIRULENCEFINDER{
                conda = "${TEST}/conda/annotation.txt"
            }
	    withName: POINTFINDER{
                conda = "${TEST}/conda/resfinder_AMRfinder_file.txt"
            }
            withName: MASHTREE{
                conda = "${TEST}/conda/mashtree.txt"
            }
            withName: KRAKEN2{
                maxForks = 1
        }

}
