conda.enabled = 'true'
params.reads = "${READS}/*{_,R}{1,2}*.*fastq.gz"                                    
params.outdir = "${TEST}/data/annotation/"
params.temporary_quast_dir = "${TEST}/quast_temporary/"
params.temporary_fasta_dir = "${TEST}/fasta_temporary/"
params.species_list = "${TEST}/species_list.txt"
params.species_list_entero = "${TEST}/configs/species_entero.txt"
params.codes_file = "${TEST}/elenco_codici_campioni.txt"
params.point_results_dir = "${TEST}/fasta_temporary/points_temporary/"
params.threads = 0
params.update_db = "no"
params.amrfinder_results_dir = "${TEST}/AMRfinder_temporary/"
params.tree = "yes"
params.kraken = "no"
params.all_kraken_outputs_folder = "${TEST}/all_kraken_folder/"
params.assembly_failures_file = "${TEST}/failures_assembly.txt"
